.map-container {
    position: absolute;
    top: 15px;
    left: 89px;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 1px solid white;
    height: 70%;
    width: 80%;
}

#map {
    height: 100%;
}